{% extends 'blogapp/base.html' %}
{% block content %}

        {% autoescape off %}
            <div class="col-md-8">
            {% for post in posts %}
                <div class="post">

                    <h1><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                        <div class="tag_container">
                            {% for i in post.get_tag_list %}
                                <div class="tag">{{i}}</div>
                            {% endfor %}
                        </div>
                    <p>{{ post.text|linebreaksbr|truncatewords_html:20 }}</p>
                </div>
            {% endfor %}
        </div>
            <div class="col-md-2">
                <div class="sidebar-post">

        <h2>Recent Posts</h2>
            {% for post in posts %}

                    <h2><a href="">{{ post.title }}</a></h2>



            {% endfor %}
     </div>
        </div>
        {% endautoescape %}
{% endblock %}