{% extends 'blogapp/base.html' %}
{% block content %}
    {% autoescape off %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>

        <p>{{ post.text|linebreaksbr }}</p>
<div class="tag_container">
     {% for i in post.get_tag_list %}
         <div class="tag">{{i}}</div>
     {% endfor %}
</div>
    </div>
     {% endautoescape %}


{% endblock %}